---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Articulos recientes";
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>
  <h3>Aqui encontraras las ultimas publicaciones sobre el mundo del <br>Desarrollo Frontend</h3>
   <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
 
