---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Bienvenido a mi Blog";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Descubre las últimas tendencias y tecnologías en Frontend</h2>
  <p>Este blog está dedicado a todo lo relacionado con el desarrollo frontend. Aquí encontrarás información sobre las últimas tecnologías, buenas prácticas, herramientas útiles y mucho más.</p>
  <p>Exploraremos temas como HTML, CSS, JavaScript, frameworks como React, Vue y Angular, preprocesadores como Sass y Less, herramientas de construcción como Webpack y Babel, y muchas otras tecnologías y herramientas que son esenciales para cualquier desarrollador frontend.</p>
  <p>Mi objetivo con este blog es proporcionar contenido de calidad que pueda ayudarte a mejorar tus habilidades y mantenerte al día con las tendencias y cambios en el mundo del desarrollo frontend. ¡Espero que disfrutes y aprendas mucho!</p>
</BaseLayout>